@model WebApplication.Models.CompanyDetail

<h3><b>Forms: Search Company Telephone</b></h3>

@{
    ViewBag.Title = "telephone";
}
<h3> <b>Telephone: </b>@ViewBag.telephone</h3>


@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter Name: </td>
            <td>@Html.TextBoxFor(m => m.name)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search" /></td>
        </tr>
    </table>
}
